:root {
  --primary-color: #ECEFF1;
  --secondary-color: #18212E;
  --tertiary-color: #3bba9c;
  --small-font-size: 1.0rem;
  --medium-font-size: 1.5rem;
  --large-font-size: 2.0rem;
  --border-radius-small: .5rem;
  --border-radius-big: 1rem;
  --transition-fast: .2s linear;
  --transition-slow: .3s linear;
  --sidebar-margin: 20px;
  --container-padding: 1em 1.5em;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--primary-color);
}

h1 {
  font-size: var(--large-font-size);
}

h2 {
  font-size: var(--medium-font-size);
}

#title-secondary {
  border-bottom: 2px solid var(--tertiary-color);
  font-size: var(--medium-font-size);
  padding-bottom: .3em;
  text-align: left;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-top: var(--sidebar-margin);
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 600;
  border-radius: var(--border-radius-small);
  padding: .6em .6em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-top: var(--sidebar-margin);
}

.button-primary {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
}

.button-secondary {
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  border-color: var(--primary-color);
}

.button-primary:hover {
  transition: var(--transition-fast);
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  border-color: var(--primary-color);
}

.button-secondary:hover {
  transition: var(--transition-fast);
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
}

#new-project-button {
  margin: 0 auto;
  margin-top: 1.25em;
}

.container {
  display: grid;
  grid-template-areas: 
  'header header'
  'nav content'
  'footer footer';
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.header {
  grid-area: header;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  padding: .1em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title-container {
  display: flex;
  align-items: center;
  gap: .5em;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary-color);
}

.sidebar {
  grid-area: nav;
  padding: var(--container-padding);
  max-width: 300px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-align: center;
  transition: var(--transition-slow);
}

.sidebar.active {
  display: block;
}

.menu-item {
  font-size: var(--small-font-size);
}

.menu-item:first-of-type {
  margin-top: 2em;
}

.menu-item a {
  display: block;
  width: 100%;
  transition: var(--transition-fast);
  padding: .7em 0px;
}

.menu-item:hover,
.menu-item.active {
  color: var(--secondary-color);
  border-radius: var(--border-radius-small);
  background-color: var(--tertiary-color);
}

.content {
  grid-area: content;
  padding: var(--container-padding);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: -.7em;
}

.content-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 1em;
  border-radius: var(--border-radius-big);
  margin-top: 2em;
}

.content-button-container {
  display: flex;
  margin-top: -1em;
  gap: 10px;
}

.tabs-content {
  display: none;
}

.tabs-content.active {
  display: block;
}

.footer {
  grid-area: footer;
  background-color: var(--tertiary-color);
  text-align: center;
}

.footer-content {
  margin: 0 auto;
}

/* @media (max-width: 1024px) {
  .sidebar {
    max-width: 200px;
    transition: var(--transition-fast);
  }
} */

@media (max-width: 768px) {
  .container {
    grid-template-areas: 
    'header header'
    'content content'
    'footer footer';
  }

  .menu-icon {
    display: block;
  }
  .menu-icon.active .bar:nth-child(2) {
    opacity: 0;
  }
  .menu-icon.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu-icon.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .sidebar {
    box-sizing: border-box;
    margin: 0;
    display: none;
    position: absolute;
    top: 83px;
    right: 0px;
    width: 175px;
    height: calc(100% - 83px);
  }
}